* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.big-container {
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
    margin-left: 288px;
}

.inner-container1 {
    width: 35%;
    height: 100%;
    padding-top: 20px;
    
}

#tasks {
    font-weight: bold;
    font-size: 2.7rem;
}

#lists {
    font-size: 2.7rem;
    margin-left: 20px;
    opacity: 0.5;
}

.inner-container2 {
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    
    
}

#add {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.5;
    font-size: 30px;
    padding-top: 28px;
}



.card-container {

    display:flex;
    /* background-color: royalblue; */
    
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 65%;
    margin-top: 50px;
    height: 350px;
    margin:auto;
    margin-bottom: 50px;
    
}

.trip {
  
    width: 25%;
    border: 1px red solid;
    text-align: center;
    border-radius: 12px;
    color: red;
    font-family: sans-serif;
    box-shadow: 5px 5px 8px 5px lightgray ;
    margin-top: 10px;
    
   
}
hr {
    margin-left:50px;
}

.subtitle {

    font-size: 25px;
    font-weight: 100;
    margin-top: 20px;
    
}
.content {


    margin-top: 60px ;
    text-decoration: line-through solid red ;
    font-size: 20px;
    font-weight: bolder;
    
    
}
.checkbox {

    color: black;
    font-size: 20px;
    margin-right: 50px;
}

#check {
    width: 18px;
    height: 18px;
    margin-top: 30px;
}
.link {
    text-decoration: none;
    color: red;

}

.not-show {
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

.pop-up {
    position: absolute;
    left: 37%;
    top: 30%;
    color: red;
    font-size: 18px;
    height: 30vh;
    width: 25%;
    border: 1.5px solid red;
    border-radius: 10px;
    box-shadow: 4px 4px 12px gray;
    background-color: white;
    padding: 20px;
}

.new {
    opacity: 0.7;
    font-size: 18px;


}
.pop-upbar {
    margin-top: 20px;
    border-radius: 4px;
    width: 85%;
    height: 27%;
    border:1.5px solid red;
    box-shadow: 2px 2px 4px 3px lightgray;

}
.pop-up-button {
    width: 35%;
    height: 20%;
    color: white;
    border-radius: 20px;
    background-color: orangered;
    margin-top: 18px;
    position: absolute; 
    left: 115px;
    border: none;
    text-align: center;
    padding: 10px;
    
}
.plus {
    left: 55%;
    margin-top:54px;
    position: absolute;
}